@import './mixins.scss';
@import './color.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.menu {
    box-sizing: border-box;
    padding: 40px 0 45px 0;
    

    &__logo{
        @include textFont (30px, 900, $logo);
     
    }

    &__item{
        @include textFont (14px, 400, $menu);
        text-align: right;
    }

    &__link{
        text-decoration: none;
        color: inherit;
    }

    &__contact {
        @include textFont(18px);
    }

    &__imgSvg{
        height: 14px;
    }

}

.banner-image {
    background-image: url(../images/banner.jpg);
    height: 730px;
    background-position: center;
    width: 100%;
}

.banner {
    flex-direction: column;
    

    &__title {
        @include textFont(36px, 900, $banner);
        padding: 180px 0 0 0;
        box-sizing: border-box;
    }
    &__mainText {
        @include textFont(36px, 300, $banner);
       
        padding: 0 0 45px 0;
        box-sizing: border-box;
    }
    &__text {
        @include textFont(14px, 400, #8cb9c4);
        padding: 0;
        box-sizing: border-box;
    }

    &__button {
        @include textFont(21px, 900, $banner);
        text-transform: uppercase;
        background-color: transparent;
        width: 240px;
        height: 60px;
        padding: 19px 0 20px 0;
        border-radius: 25px;
        border: 3px solid #91b0b6;
        margin: 50px 0 0 0;
        cursor: pointer;
        outline: none; //убирает обводку после нажатия
    }
}

.title {
    &__main {
        @include textFont(36px, 900, $title);
        padding: 0;
        padding: 100px 0 41px 0;
    }

    &__text{
        @include textFont(16px, 400, $text);
    }

}

.navigation {
  padding-top: 120px;
  display: flex;
 
    &__radio{
        display: none;
    }

    &__menu {

        &-el{
            display: flex;
            padding-bottom: 70px;
            position: relative;
      
        &-svg {
            height: 48px;
            margin-right: 40px;
            color: $text;
        }

        &-text{
            @include textFont(20px, 400, $text);
            padding-right: 55px;
            position: relative;
          

            &::after {
                display: none;
                content: '';
                width: 11px;
                height: 80px;
                background-color: $active;
                right: -6px;
                top: calc(50% - 40px);
                position: absolute;
            }
            
        }

    }

}

    &__content {
        padding: 0;
        padding: 0 0 0 0;
      

        &-element{
            display: none;
            flex-direction: column;
            
            
            &-svg {
                display: flex;
                justify-content: center;
                padding: 0;
                margin-bottom: 85px;
                color: #5dca88;
            }

            &-title {
                @include textFont(24px, 900, $title);
                margin-bottom: 35px;
            }

            &-text{
                @include textFont(16px, 400, $text);
            }
        }
    }
}


#heart:checked ~ .navigation__menu-el-svg > .heart {
   fill: black;
}

#heart:checked ~ .navigation__content > .heart {
    display: flex;

}

#bag:checked ~ .navigation__content > .bag {
    display: flex;
}


#leaf:checked ~ .navigation__content > .leaf {
    display: flex;
}

#smart:checked ~ .navigation__content > .smart {
    display: flex;
}

#umbrella:checked ~ .navigation__content > .umbrella {
    display: flex;
}

#heart:checked ~ .navigation__menu > .heart{


    &::after {
        content: '';
        position: absolute;
        right: -15px;
        top: calc(50% - 50px); 
        width: 11px;
        height: 80px;
        background-color: $active; 
    }

    
    .icon {
        fill: $active;
    }

}

#bag:checked ~ .navigation__menu > .bag{
    &::after {
        content: '';
        position: absolute;
        right: -15px;
        top: calc(50% - 50px); 
        width: 11px;
        height: 80px;
        background-color: $active;   
    }

    .icon {
        fill: $active;
    }

}
#leaf:checked ~ .navigation__menu > .leaf{
    &::after {
        content: '';
        position: absolute;
        right: -15px;
        top: calc(50% - 50px); 
        width: 11px;
        height: 80px;
        background-color: $active;   
    }

    .icon {
        fill: $active;
    }

}
#smart:checked ~ .navigation__menu > .smart{
    &::after {
        content: '';
        position: absolute;
        right: -15px;
        top: calc(50% - 50px); 
        width: 11px;
        height: 80px;
        background-color: $active;   
    }

    .icon {
        fill: $active;
    }

}
#umbrella:checked ~ .navigation__menu > .umbrella{
    &::after {
        content: '';
        position: absolute;
        right: -15px;
        top: calc(50% - 50px); 
        width: 11px;
        height: 80px;
        background-color: $active;  
    }

    .icon {
        fill: $active;
    }
}




.phone {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    box-sizing: border-box;

    &__image {
        &-img{
            width: 100%;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding-top: 70px;


        &-title{
            @include textFont(36px, 900, $active);
            padding-bottom: 16px;
        }

        &-divider {
            height: 2px;
            width: 104px;
            background-color: $menu;
        } 

        &-main {
            padding: 44px 0 50px 0;
            @include textFont(36px, 400, $menu);
        }

        &-text {
            @include textFont(16px, 400, $menu);
            padding-bottom: 54px;
        }

        &-button {
            @include textFont(21px, 900, $menu);
            width: 240px;
            height: 60px;
            border: 2px solid $menu;
            border-radius: 30px;
            cursor: pointer;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

}

.gallery {
    padding-top: 178px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 85px;
        box-sizing: border-box;
        
        &-title{
            @include textFont(36px, 900, $title);
            text-align: center;
            padding-bottom: 30px;
            box-sizing: border-box;
        }

        &-text{
            @include textFont(16, 400, $menu);
            text-align: center;
           
       
        }

    }

    &__images{
        display: flex;

        &-iphone {
            padding-right: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &-img {
                width: 100%;
              
            }

        }

        &-text{
            @include textFont (16px, 400, $menu);
            text-align: center;
            padding-top: 44px;
            box-sizing: border-box;
        }

    }


}

.review {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 176px;
    box-sizing: border-box;

    &__title{
        @include textFont(36px, 900, $title);
        padding-bottom: 35px;
        box-sizing: border-box;
    }

    &__photo{
        padding-bottom: 40px;
        box-sizing: border-box;
    }

    &__text{
        @include textFont(24px, 400, $text);
        font-style: italic;
        padding-bottom: 25px;
        box-sizing: border-box;
    }

    &__autor{
        @include textFont(24px, 400, $active);
        padding-bottom: 35px;
        box-sizing: border-box;
    }

    &__slider{
        display: flex;
        padding-left: 80px;
        box-sizing: border-box;
        

        &-dot{
            height: 11px;
            width: 11px;
            border-radius: 50%;
            background-color: $text;
            margin-right: 10px;
            box-sizing: border-box;
        }

    }

    &__feedback{
        display: flex;
        padding-top: 172px;
        box-sizing: border-box;

        &-icon{
            color: $title;
            margin-right: 22px;
        }

        &-text{
            @include textFont(36px, 900, $title);
        }

    }
    &__form{
        padding-top: 58px;
        padding-bottom: 120px;
        width: 100%;
        height: 100%;

        &-text{
            margin: 0;
            padding: 0;
            height: 60px;
            width: 100%;
            padding: 0 100px 0 30px;
            border: 2px solid $menu;
            border-radius: 30px;
            outline: none;
            box-sizing: border-box;
        }
        &-btn{
            @include textFont(20px, 400, $banner);
            margin: 0;
            padding: 0;
            height: 60px;
            width: 100%;
            text-transform: uppercase;
            outline: none;
            border: none;
            border-radius: 32px;
            background-color: $active;
            transform: translate(-90px, 2px);
            cursor: pointer;
        }
    }

}

.footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 307px;
    background-color: $footer;
    display: flex;
    flex-direction: column;
  
    
    &__container {

        &-title{
            padding-top: 70px;
            box-sizing: border-box;
            @include textFont(24px, 400, $footerEl);
        }

        &-icon{
            padding-top: 35px;

            &-svg {
                margin: 0;
                padding: 0;
                color: $footerEl;
                margin-right: 15px;

            }

        }

        &-links{
            padding-top: 70px;

            &-link {
                @include textFont(14px, 400, $footerEl);
                margin: 0;
                padding: 0;
                text-decoration: none;
                color: $footerEl;
                margin-right: 20px;
            }

        }

    }

}


// @media screen and (max-width: 1200px) {
//     .review {
//         &__form {
//             &-text{
//                 width: auto;
                
//             }
//             &-btn{
//                 width: auto;
         
//             }
//         }
//     }
// }